[Unit]
Description=Muspi Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/workspace/muspi
ExecStart=/home/pi/workspace/muspi/venv/bin/python /home/pi/workspace/muspi/main.py
Restart=always
RestartSec=3
# 允许访问用户级的 PulseAudio
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse"

[Install]
WantedBy=multi-user.target
