[Unit]
Description=Muspi Service (Packaged)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/muspi
ExecStart=/opt/muspi/muspi
Restart=always
RestartSec=3
# 允许访问用户级的 PulseAudio
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse"

[Install]
WantedBy=multi-user.target
